body{
    margin:0px;
}
#contener{
    background-image:url(img/BEE.jpg);
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
#zad{
    background-color: orangered;
    width:100%;
    display: flex;
    justify-content: center;
}
#box{
    background-color: rgb(77,76,75);
    text-align: center;
    width: 80px;
    height: 80px;
    margin:5px;
    display: flex;
    justify-content: center;
}
#zad img,#contener img{
    width:20px;
    height:20px;
}
#lc ,#rc{
    width: 50%;
    height: 600px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
#lc{
    color:rgb(77,76,75);
}
#footer{
    background-color: rgb(77,76,75);
    width: 100%;
    height: 80px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
table,td,th{
    border: 1px solid rgb(77,76,75);
    color:blue;
    border-collapse: collapse;
}
td,tr{
    padding-left:20px;
    padding-right:20px;
}
tr:hover{
    background-color: orangered;
}
.cont .button {
    display: inline-flex;
    height: 60px;
    width: 60px;
    float:left;
    margin: 0 5px;
    overflow: hidden;
    background-color: orangered;
    border-radius: 50px;
    cursor:pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.cont{
    position:absolute;
    left:40%;
}
.cont .button:hover{
    width: 280px;
    text-align: center;
}
.cont .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    margin-left: 10px;
    align-items: center;
}
.cont .button .icon i{
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.cont .button span{
    font-size: 20px;
    font-weight: 20;
    line-height: 60px;
    margin-left: 14px;
}
a{
    text-decoration: none;
}
#box{
    display: inline-flex;
    height: 80px;
    width: 80px;
    float:left;
    margin-left:40px;
    margin: 0 5px;
    overflow: hidden;
    background-color: rgb(77,76,75);
    border-radius: 50px;
    cursor:pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
#box img{
    height: 70px;
    width: 70px;
}
#box .i1{
    margin-left: 70px;
}
#box .i2{
    margin-left: 85px;
}
#box .i3{
    margin-left: 85px;
}
#box .i4{
    margin-left: 62px;
}
#box .i5{
    margin-left: 70px;
}
#box h5{
    margin:10px;
    margin-top: 30px;
}
#box:hover{
    display: inline-flex;
    height: 80px;
    width: 240px;
    float:left;
    margin-left:40px;
    margin: 0 5px;
    overflow: hidden;
    background-color: orangered;
    border-radius: 50px;
    cursor:pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

